body
{
    /*background: url(../img/dark_fish_skin.png) repeat 0 0;*/
    font-family: "微软雅黑","宋体","黑体",Arial,"Helvetica Neue", Helvetica , sans-serif;
}
.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
}
p.article{
    text-indent: 2em;
}